[submodule "rgbds"]
	path = rgbds
	url = https://github.com/gbdev/rgbds.git
[submodule "ya_getopt"]
	path = ya_getopt
	url = https://github.com/kubo/ya_getopt
[submodule "PokeGSC_SharedXLSXCN"]
	path = PokeGSC_SharedXLSXCN
	url = https://github.com/TomJinW/PokeGSC_SharedXLSXCN
[submodule "pokecrystalCHS"]
	path = pokecrystalCHS
	url = https://github.com/yurikaka/pokecrystal_cn.git
	branch = release_cn
